.main{
	width:35%;
	height:500px;
	border:1px solid #20B2AA;
	background-color: #E0FFFF;
}
.main1{
	margin-left: 148px;
	margin-top: 34px;
}
.main2{
	margin-left: 364px;
}
.main3{
	margin-left: 20px;
}
.main4{
	margin-left: 20px;
}
.main5{
	margin-left: 20px;
}
.main9{
	margin-left: 20px;
}
.main8{
	margin-left: 20px;
}
.main7{
	margin-left: 20px;
}
.main6{
	margin-left: 20px;
}
